/*-------CSS para index---inicio--------------------------*/
/*---------------------------------
	HTML ELEMENTS
-----------------------------------*/

hr{clear:both;border-bottom:0;border-top:1px dotted #ccc;border-right:0;border-left:0;margin:10px 0;min-height: 0px;height:1px;}

hr.alt1
{
	border-style: solid;
	color:#D7D7D7;
}

hr.alt2
{
	border-style: dashed;
}



.tabla
{
	background-color: 	#bdbebd;
}

.bloqueCurso 
{
	background: url(../imagenes/fondoCurso.png);
	background-repeat:no-repeat;
	height: 75px;
	width: 110px;
	padding: 10px 11px;	
	overflow:hidden;
}

.bloqueCursoRequisito
{
	background: url(../imagenes/cursoRequisito.png);
	background-repeat:no-repeat;
	height: 75px;
	width: 110px;
	padding: 10px 11px;
	position: relative;	
	overflow:hidden;
}

.bloqueCursoCoRequisito
{
	background: url(../imagenes/cursoCoRequisito.png);
	background-repeat:no-repeat;
	height: 75px;
	width: 110px;
	padding: 10px 11px;
	position: relative;	
	overflow:hidden;
}


.bloqueCursoAprobado
{
	background: url(../imagenes/cursoAprobado.png);
	background-repeat:no-repeat;
	height: 75px;
	width: 110px;
	padding: 10px 11px;
	position: relative;	
	cursor:default;
	overflow:hidden;
}

.bloqueCursoAprobado:hover
{
	background: url(../imagenes/cursoAprobadoResaltado.png);
	background-repeat:no-repeat;
	height: 75px;
	width: 110px;
	padding: 10px 11px;
	position: relative;
	cursor:hand;
	overflow:hidden;
}


.bloqueCursoAprobadoRN
{
	background: url(../imagenes/cursoAprobadoRN.png);
	background-repeat:no-repeat;
	height: 75px;
	width: 110px;
	padding: 10px 11px;
	overflow:hidden;
}


.bloqueCursoAprobadoRN:hover
{
	background: url(../imagenes/cursoAprobadoRNResaltado.png);
	background-repeat:no-repeat;
	height: 75px;
	width: 110px;
	padding: 10px 11px;
	overflow:hidden;
}

.bloqueCursoCursando
{
	background: url(../imagenes/cursoCursando.png);
	background-repeat:no-repeat;
	height: 75px;
	width: 110px;
	padding: 10px 11px;
	overflow:hidden;
}

.bloqueCursoCursando:hover
{
	background: url(../imagenes/cursoResaltado.png);
	background-repeat:no-repeat;
	height: 75px;
	width: 110px;
	padding: 10px 11px;
	overflow:hidden;
}


.bloqueCursoReprobado
{
	background: url(../imagenes/cursoReprobado.png);
	background-repeat:no-repeat;
	height: 75px;
	width: 110px;
	padding: 10px 11px;
	overflow:hidden;
}


.bloqueCursoReprobado:hover
{
	background: url(../imagenes/cursoReprobadoResaltado.png);
	background-repeat:no-repeat;
	height: 75px;
	width: 110px;
	padding: 10px 11px;
	overflow:hidden;
}

.bloqueCursoSinCursar
{
	background: url(../imagenes/cursoSinLlevar.png);
	background-repeat:no-repeat;
	height: 75px;
	width: 110px;
	padding: 10px 11px;
	position: relative;	
	overflow:hidden;
}


.bloqueCursoSinCursar:hover
{
	background: url(../imagenes/cursoSinLlevarResaltado.png);
	background-repeat:no-repeat;
	height: 75px;
	width: 110px;
	padding: 10px 11px;
	position: relative;
	overflow:hidden;
}


.bloqueCurso p
{
	font-family:Arial;
	font-style:normal;
	color:#9CFF9C;
	text-align:center;
	vertical-align: top;
	height:40px;
	width: 110px;
	/*text-transform:capitalize;*/
}

.codCurso 
{
	font-size: 13px;
	font-weight:bold;
	text-align:center;
	margin:0;
	border:none;
}


.columnaNivel
{
	color:white;
	font-family:sans-serif;
	font-size: 1.4em;
	width:30px;
	text-align:center;
}

.filaNivel
{
	border-bottom:1px solid gray;
}

.nombreCurso
{
	font-size: 11px;
	font-weight:normal;
	line-height:1.2;
	text-align:center;	
	margin:0;
	padding:0;
	border:none;
	overflow:hidden;
}

.contenedorGlobal
{
margin-bottom:250px;
}

.encabezado
{
position:relative;
float:left;
/*margin-top:30px;*/
border:2px;
border-color: gray;
/*background-color: #FFFFF5;*/
}

.divPlanGrafico
{
text-align:center;
position:relative;
float:left;
margin-top:10px;
margin-left: 50px;
min-height: 700px;
overflow:auto;
}

.formulario
{
position:relative;
float:left;
width: 750px;
}

.infoColores
{
position:relative;
float:right;
margin-top: 15px;
border-left: 1px;
margin-left: 60px;
/*background-color: #f2f2f2;*/
border-width: 3px;
}

.datosPlan{
position:relative;
float:left;
}

.centrado{
text-align: center;
}
/*
.masked{
opacity: 0.8;
}*/


.textoIntro{
margin-left: 10px;
margin-top: 0px;
width: 98%;
margin-bottom: 300px;
}
